// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

#total {
  margin: 10px 0;
  margin-left: 20px;

  .label {
    margin-right: 10px;
  }
  .rmb {
    color: #999;
    margin-right: 4px;
  }
  .number {
    color: #f40;
    font-weight: bold;
  }
}

#datetime {
  margin: 10px 0 0 20px;
}
